div {
    width: 100%;
    background-color: #3e628e;
    padding: 10px;   
}

.footer {
    color: #c9e0ed;
    position: fixed;
    bottom: -10px;
    display: flex;
    justify-content: center;
    font-size: 70%;
}
