<div class="welcome">

    <div class="logo">
        <img src="https://www.pinclipart.com/picdir/big/48-482963_shark-logo-jpg-transparent-stock-sharlk-logo-clipart.png" alt="A blue, geometric shark on a transparent background">
    </div>

    <header class="welcome_header">
        <h1>Welcome to Sharkvision!</h1>
    </header>

    <section class="welcome_main">
        
    </section>


    <!-- BE API TEST BUTTON -->
    <button class="btn btn-primary" (click)="getUsers()">Check all users in the console</button>
    <button class="btn btn-primary" (click)="getUser()">Check 1 user in the console</button>
    <button class="btn btn-primary" (click)="getPlaylists()">Check all playlists in the console</button>
    <button class="btn btn-primary" (click)="getPlaylist()">Check 1 playlist in the console</button>
    <button class="btn btn-primary" (click)="getPlaylistByUserId()">Check Playlist of User with id=1 in the console</button>
    <button class="btn btn-primary" (click)="deletePlaylist()">Delete a Playlist</button>
</div>
