<div class="welcome">

    <div class="logo">
        <img src="https://www.pinclipart.com/picdir/big/48-482963_shark-logo-jpg-transparent-stock-sharlk-logo-clipart.png" alt="A blue, geometric shark on a transparent background">
    </div>

    <header class="welcome_header">
        <h1>Welcome to Sharkvision!</h1>
    </header>

    <section class="welcome_main">
        
    </section>

    <!-- <button (click)="randomMovie()">
        Recommend a movie.
    </button> -->

    <div class="result">
        <ul>
            <li *ngFor="let movies of popularMovies | slice:0:9">
                <img [src]="movies.image">
                <p>{{movies.fullTitle}} <br/>
                    {{movies.imDbRating}} <br/>
            </li>
        </ul>
    </div>


</div>
