<div class="details">
    <div class="movie_details" [routerLink] = "['/search',movieDetail]" >
        <img class="poster" [src]="foundMovie.image">
        <div class="text">
            <h2 class="description">
                Full title: {{foundMovie.fullTitle}} <br />
                Year: {{foundMovie.year}},  Release Date: {{foundMovie.releaseDate}} <br />
                Content Rating: {{foundMovie.contentRating}} <br />
                imDb Rating: {{foundMovie.imDbRating}} <br />
                Plot: <br />
                    {{foundMovie.plot}} <br />
                Awards: {{foundMovie.awards}} <br />
                Genres: {{foundMovie.genres}} <br />
            </h2>
        </div>
    </div>
</div>