<div class="details">
    <div class="movie_details" [routerLink] = "['/search',movieDetail]" >
        <img [src]="foundMovie.image">
        <div class="text">
            Full title: {{foundMovie.fullTitle}} <br />
            Year: {{foundMovie.year}},  Release Date: {{foundMovie.releaseDate}} <br />
            Content Rating: {{foundMovie.contentRating}} <br />
            imDb Rating: {{foundMovie.imDbRating}} <br />
            Plot: {{foundMovie.plot}} <br />
            Awards: {{foundMovie.awards}} <br />
            Genres: {{foundMovie.genres}} <br />
        </div>
    </div>

    <div class="buttons">
        <button mat-raised-button class="add" (click)="addToPlayList()">Add to Playlist...</button>
    </div>
</div>