<div class="login">
    <div class="logo" *ngIf="!isRegister">
        <img src="assets\cshark.png" alt="A blue, geometric shark on a transparent background">
    </div>

    <ng-container *ngIf="isRegister; else loginTemplate">
      <app-register (backToLogin)="goToLogin($event)" (setUsernameForLogin)="setUsername($event)"></app-register>
    </ng-container>

    <ng-template #loginTemplate>
      <form class="form-section" (ngSubmit)="performLogin()" [formGroup]="loginForm">
        <div class="login_input">
          <legend>Login:</legend>
          <input class="username" type="username" formControlName="username" placeholder="Username">
          <input class="password" type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="button_container">
          <button class="login_button" type="submit">Login</button>
          <button class="register_button" (click)="goToRegister()">Register</button>
        </div>
        <div class="error_container">
          <p class="error_message" *ngIf="isLoginError" >Login failed!</p>
        </div>
    </form>
    </ng-template>

</div>
