<div class="login">

    <div class="logo">
        <img src="assets\cshark.png" alt="A blue, geometric shark on a transparent background">
    </div>

    <div class="login_input">
        <legend>Login:</legend>
        <input class="username" type="username" placeholder="Username">
        <input class="password" type="password" placeholder="Password">
    </div>

    <div class="button_container">
        <button class="login_button" (click)="login()">Login</button>
        <button class="register_button" (click)="register()">Register</button>
    </div>  
</div>
