<div class="movie_search">

    <header class="welcome_header">
        <h1>Search for a title, using a keyword</h1>
    </header>

    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">

        <mat-form-field class="example-will-width" appearance="fill">
            <mat-label>Keyword</mat-label>
            <input type="text" matInput formControlName="searchKeyword" placeholder="Search by keyword...">
            <mat-hint align="start">Why not try banana?</mat-hint>
        </mat-form-field>

    </form>

    <div class="buttons">
        <button mat-raised-button class="submit" (click)="onSubmit()" [disabled]="searchKeyword.untouched && searchKeyword.pristine">Submit</button>
        <button mat-raised-button class="cancel" (click)="cancel()">Cancel</button>
    </div>

    <div class="movie_details">

        <div *ngIf="foundMovies.length > 0" class="result">
            <ul>
                <li *ngFor="let movies of foundMovies">
                    <a class="details" (click)="showDetail(movies)">
                    <h3>{{movies.title}} <br />
                        {{movies.description}}</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="show_details" *ngIf="details">
            <app-movie-detail [movieDetail]="movieDetail"></app-movie-detail>
            <div class="buttons">
                <button mat-raised-button class="add" [disabled]="showPlaylists" (click)="showPlaylists = true" *ngIf="isLoggedIn">Add to Playlist...</button>
                <div class="dropdown-content">
                    <ul *ngIf="showPlaylists">
                        <li> 
                            <div class="add_format">
                            <button class="add_to" mat-raised-button (click)="createNewPlaylist = true">Create New Playlist</button>
                            <form class="newPlaylist" (ngSubmit)="createPlaylist()" [formGroup]="newPlaylistForm" *ngIf="createNewPlaylist">
                                <input class="createPlaylist" type="text" placeholder="Playlist name"
                                    formControlName="newPlaylist">
                                <p class="error_msg" *ngIf="newPlaylist.invalid && newPlaylist.touched">
                                    Playlist name cannot be empty
                                </p>
                                <label for="public">Public? <input type="checkbox" formControlName="visible"></label>
                                <button mat-raised-button color="primary" class="add_to_submit" type="submit" [disabled]="newPlaylistForm.invalid">Create
                                    Playlist</button>
                            </form>
                        </div>
                        </li>
                        <li *ngFor="let playlist of userPlaylists; let i = index" >
                            <button class="add_to" mat-raised-button (click)="addToPlayList(i)">{{playlist.name}}</button>
                        </li>
                    </ul>
                </div>
                <button mat-raised-button class="back" (click)="back()">Back</button>
            </div>
        </div>
    </div>

</div>
