.movie_search {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #c9e0ed;
    margin-bottom: 100px;
}

.example-will-width {
    background-color: #c9e0ed;
    color: #7843e6;
    padding: 10px;
    border-radius: 5px;
}

.welcome_header{
    padding-bottom: 20px;
}

img {
    padding: 20px;
    margin: 20px;
    width: 20%;
    height: 20%;
}

button {
    margin:10px;
}

.movie_details {
    display: flex;
    width: 80%;
    background-color: #c9e0ed;
}

.result {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

/* .result ul {
    display: inline-block;
} */

.result li {
    list-style: none;
    color: #7843e6;
    padding:0;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    border-bottom: 1px solid #ff00ff;
}

.result h3 {
    text-align: left;
}

.show_details {
    width: 75%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}