.container {
    margin-top: 20px;
    margin-left: 90px;
}

.playlist {
    display: inline-block;
}

.delete {
    background-color: rgb(255, 0, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: -119px;
    margin-right: 35px;
}