<div class="container">
<h1>Your playlists</h1>

<input type="text" [(ngModel)]="playlist" placeholder="New playlist name.." [(ngModel)]="newPlaylistName">
<br/>
<input type="checkbox" [(ngModel)]="visible" (click)="changeVisible()">Private playlist
<br/>
<button mat-raised-button (click)="addPlaylist()">Add</button>
<br/>

<div class="playlist" *ngFor="let playlist of playlistList">
    <app-user-playlist-item [playlist]="playlist"></app-user-playlist-item>
    <button class="delete" (click)="removePlaylist(playlist)">Remove</button>
</div>
</div>
